header{
   padding-top: 25px;
   .header__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      span{
         font-weight: 600;
font-size: 22px;
line-height: 33px;
      }
   }
   .nav{
      ul{
         list-style: none;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 40px;
         li{
            a{
               text-decoration: none;
               font-weight: 500;
               font-size: 16px;
               line-height: 24px;
               color: rgba(255, 255, 255, 0.55);
               display: flex;
               align-items: center;
               &:nth-child(1){
                  i{
                     margin-left: 10px;
                  }
               }
            }
         }
      }
   }
   .auth{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 41px;
   }
}