.new-tools{
   &-container{
   display: flex;
   justify-content: space-between;
   gap: 220px;
   
   }
   &__left-side{
      max-width: 405px;
      width: 100%;

   }
   &__title{
      // max-width: 401px;
      // width: 100%;
      font-weight: 500;
      font-size: 48px;
      line-height: 130%;
      color: rgba(255, 255, 255, 0.9);
      margin-bottom: 30px;
   }
   &__text-block{
      max-width: 427px;
      width: 100%;
      margin-bottom: 60px;
      p{
         font-weight: 500;
         font-size: 18px;
         line-height: 30px;
         color: rgba(255, 255, 255, 0.55);
      }
   }
}